body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDD;
}
.form-login{ 
    /* aumenta a largura dos elementos interno */
    flex-basis: 450px;
}
.card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.login-card .card-footer{
    display: flex;
    justify-content: flex-end;
    
}